form((ngSubmit)="onSubmit()" #form="ngForm")
	div(class="field")
		div(class="fields")
			div(class="ten wide field")
				label Razon social
				input(#trademark [(ngModel)]="organization.trademark" ngClass="{error: 'trademark.valid'}" type="text" name="trademark" placeholder="Razon social" required)
				individual-element-error
			div(class="six wide field")
				label Telefono
				input([(ngModel)]="organization.phone" placeholder="Telefono" name="phone" type="text")
	div(class="field")
		label Dirección
		div(class="fields")
			div(class="twelve wide field")
				input([(ngModel)]="organization.direction" type="text" name="direction" placeholder="Direccion")
			div(class="four wide field")
				input([(ngModel)]="organization.dir_num" type="text" name="dir_number" placeholder="Numero")
	div(class="field")
		div(class="fields")
			div(class="ten wide field")
				label E-mail
				input([(ngModel)]="organization.email" placeholder="E-mail" name="email" type="text")
			div(class="six wide field")
				label Sitio web
				input([(ngModel)]="organization.website" placeholder="Sitio web" name="website" type="text")
	button(type="submit" [disabled]="!form.form.valid" class="ui blue submit button") Modificar
	div(class="ui reset button") Restaurar