header-contacts-list
table(class="ui celled table")
	thead
		tr
			th Header
			th Header
			th Header
	tbody
		tr
			td
				div(class="ui ribbon label") First
			td Cell
			td Cell
		tr
			td Cell
			td Cell
			td Cell
