div(class="ui top attached menu")
	dropdown-menu
	div(class="right menu")
		div(class="ui right aligned category search item")
		div(class="ui transparent icon input")
			input(class="prompt" type="text" placeholder="Buscar...")
			i(class="search link icon")
		div(class="results")
