<div #menu class="ui dropdown icon item">
		<i class="wrench icon"></i>
		<div class="menu">
			<div class="item">
				<i class="dropdown icon"></i>
				<span class="text">New</span>
				<div class="menu">
					<div class="item">Document</div>
					<div class="item">Image</div>
				</div>
			</div>
			<div class="item">
				Nuevo
			</div>
			<div class="item">
				Save...
			</div>
			<div class="item">Edit Permissions</div>
			<div class="divider"></div>
			<div class="header">
				Exportar
			</div>
			<div class="item">
				A pdf...
			</div>
		</div>
	</div>
