div(class="pusher")
	div(class="full height")
		div(class="following bar")
			div(class="ui container")
				div(class="ui large secondary network menu")
					div(class="item")
						img(class="ui medium image" src="/client/img/banner-agenda.jpg")
					div(class="view-ui item")
					sm-dropdown
			div(class="ui segment")
				agenda